*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------HEADER-------*/
nav{
    background-color: #0084fd;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.big-box{
    background-color: #b5ddff;
}
.small-box{
    background-color: #b5ddff;
}
