*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------HEADER-------*/
nav{
    width: 70%;
}
.nav-container{
    background-color: #0084fd;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;


}